/* process_shooter_style.css */

body {
    font-family: 'Roboto', sans-serif; /* Apply Roboto font */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #007bff; /* Change title color */
}

p {
    margin-left: 20px;
}

table {
    margin: 3px;
    border-collapse: collapse;
    width: 100%;
    font-family: 'Roboto', sans-serif; /* Apply Roboto font to table */
}

th, td {
    padding: 10px;
    text-align: center; /* Center align text */
}

th {
    background-color: #7cc3a97d;
    color: white;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

tr:nth-child(odd) {
    background-color: #c2d4e4;
}

a.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
}

a.button:hover {
    background-color: #0056b3;
}
