<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar_style.css') }}">
    <title>Add Score</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Add Score</h1>
    <form method="POST">
        <label for="score">Score:</label>
        <input type="string" name="username" required>
        <input type="number" name="distance" required>
        <input type="number" name="score" required>
        <br>
        <button type="submit">Add Score</button>
    </form>
</body>
</html>
