<!-- home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home Page</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="home">Home</a>
            <a href="run_session">Run Shooting Session</a>
            <a href="add_session">Add Shooting Session</a>
            <div class="navbar-right">
                <a href="login">Login</a>
                <a href="signup">Sign Up</a>
            </div>
        </div>
    </nav>

    {% if 'username' in session %}
        <p>Hello, {{ session["username"] }}! <a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
        <p>You are not logged in. <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('signup') }}">Sign up</a></p>
    {% endif %}
</body>
</html>
