<nav class="navbar-container">
    <div class="container">
        <a href="">Home</a>
        <a href="run_event">Run Shooting Event</a>
        <a href="add_event">Add Shooting Event</a>
        <a href="review_scores">Review Scores</a>
        <div class="navbar-right"></div>
            {% if 'user_object_dict' in session %}
                <a href="{{ url_for('logout') }}">Logout</a>
                <a href="{{ url_for('my_profile') }}">My Profile</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('signup') }}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>