<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar_style.css') }}">
    <title>Event Details</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Event Details</h1>
    <p>Event ID: {{ event_id }}</p>
    <p>Distance: {{ distance }}</p>
    <p>Shots per Target: {{ shots_per_target }}</p>
    <p>Target Type: {{ target_type }}</p>
    <p>Shooter ID List: {{ shooters }}</p>
    <p>Shooter Username List: {{ shooters_username }}</p>
    <p>Event Start Date: {{ date }}</p>
    <p>Event Start Time: {{ time }}</p>

    <form method="POST" action="{{ url_for('process_shooter', event_id=event_id) }}">
        {% for username in shooters_username %}
            <div>
                <input type="checkbox" id="user_{{ username }}" name="selected_users[]" value="{{ username }}">
                <label for="user_{{ username }}">{{ username }}</label>
                <br>
                {% for shot_num in range(1, shots_per_target + 1) %}
                    <label for="shot{{ shot_num }}">Shot {{ shot_num }}:</label>
                    <input type="number" name="user_{{ username }}_shot_{{ shot_num }}">
                    <br>
                {% endfor %}
                <input type="hidden" name="event_id" value="{{ event_id }}">
            </div>
            <hr>
        {% endfor %}
        <input type="submit" value="Submit Selected Users">
    </form>

    <!-- You can provide links or buttons to navigate to other pages -->
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
