<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
</head>
<body>
    <h1>Event Details</h1>
    <p>Event ID: {{ event_id }}</p>
    <p>Distance: {{ distance }}</p>
    <p>Shots per Target: {{ shots_per_target }}</p>
    <p>Target Type: {{ target_type }}</p>
    <p>Shooter ID List: {{ shooters }}</p>
    <p>Shooter Username List: {{ shooters_username }}</p>

    {% for username in shooters_username %}
        <div>
            <h2>{{ username }}</h2>
            <form method="POST" action="{{ url_for('process_shots', event_id=event_id) }}">
                {% for shot_num in range(1, shots_per_target + 1) %}
                    <label for="shot{{ shot_num }}">Shot {{ shot_num }}:</label>
                    <input type="number" name="shots[{{ username }}][]" required>
                    <br>
                {% endfor %}
                <input type="hidden" name="event_id" value="{{ event_id }}">
                <input type="submit" value="Submit Shots">
            </form>
        </div>
        <hr>
    {% endfor %}

    <!-- You can provide links or buttons to navigate to other pages -->
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
