<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <h2>Sign up</h2>
    <form method="post" action="/signup">
        
    <label for="username">Username:</label>
    <input type="text" name="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <label for="district">District:</label>
    <input type="text" name="district" required>

    <label for="group_number">Group Number:</label>
    <input type="number" name="group_number" required>

    <label for="admin">Admin:</label>
    <input type="checkbox" name="admin">

    <button type="submit">Sign Up</button>

        <button type="submit">Sign up</button>
    </form>
</body>
</html>
